.countries {
    padding: 3rem 0;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 480px) {
    .countries {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 792px) {
    .countries {
        grid-template-columns: auto auto auto;
    }
}


@media screen and (min-width: 1200px) {
    .countries {
        grid-template-columns: auto auto auto auto auto;
    }
}